{% extends 'base.html' %}

{% block title %}

Meetings List
{% endblock title %}

{% block content %}

<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Meetings Information</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">Duration</th>

        <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    {% for meeting in meetings %}
    <tr>
        <td>{{ meeting.tittle }}</td>
        <td>{{ meeting.date }}</td>
        <td>{{ meeting.start_time }}</td>
        <td>{{ meeting.duration }}</td>
        <td>
            <a href="{% url 'detail' meeting.id %}">View Details</a></td>

        <td>
            <a href="{% url 'edit' meeting.id %}" class="btn btn-warning btn-sm">Edit</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}